@font-face {
  font-family: product;
  font-display: swap;
  src: url(../fonts/product-sans-bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: product;
  font-display: swap;
  src: url(../fonts/product-sans.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #888;
  line-height: 1;
  font-family: product;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: product;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: 15px
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #f16214;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.logo {
  max-width: 10.125rem;
  aspect-ratio: 162/45
}
.social {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.4375rem;
  -moz-column-gap: 1.4375rem;
  column-gap: 1.4375rem;
  width: 14.3125rem
}
.social__link {
  aspect-ratio: 40/40;
  flex: 0 0 2.5rem;
  transition: background .4s
}
.social__link--facebook {
  background: url(../img/icons/facebook.svg) 0 0/100% no-repeat
}
.social__link--instagram {
  background: url(../img/icons/instagram.svg) 0 0/100% no-repeat
}
.social__link--x {
  background: url(../img/icons/twitter.svg) 0 0/100% no-repeat
}
.social__link--linkedin {
  background: url(../img/icons/linkedin.svg) 0 0/100% no-repeat
}
.section-button {
  border-radius: 3.375rem;
  background-color: #f16214;
  padding-block: .8125rem;
  padding-left: 1.1875rem;
  padding-right: 4rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  transition: background .5s,color .5s
}
.section-button::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background: url(../img/icons/icon-section-button.svg) 0 0/100% no-repeat;
  position: absolute;
  right: .3125rem;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  transition: background .5s
}
.title {
  color: #000;
  font-weight: 700;
  line-height: 1.22
}
.section-header__label {
  color: #f16214;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.22
}
.section-header__label:not(:last-child) {
  margin-bottom: .375rem
}
.section-header__text {
  line-height: 1.5
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0
}
.header__container {
  display: flex;
  align-items: center
}
.header__logo {
  position: relative;
  z-index: 20
}
.header__body {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2
}
.menu__list {
  display: flex;
  align-items: center;
  row-gap: .3125rem;
  flex-wrap: wrap
}
.menu__link {
  color: #000;
  line-height: 1.19;
  transition: color .5s
}
.actions {
  position: relative;
  z-index: 2
}
.actions__link {
  padding: .375rem .975rem;
  border-radius: 6.25rem;
  border: .09375rem solid #f16214;
  background-color: #f16214;
  color: #fff;
  font-size: .8125rem;
  line-height: 1.23;
  transition: color .5s,background-color .5s
}
.footer {
  background-color: #f5f5f5
}
.footer__body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between
}
.footer__content {
  flex-basis: 23.076923%;
  display: flex;
  flex-direction: column;
  row-gap: 2.125rem
}
.footer__text {
  line-height: 1.5
}
.footer__menu {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  flex-basis: 74.358974%;
  flex-shrink: 1
}
.footer__wrapper {
  max-width: 16.875rem
}
.footer__wrapper .footer__spollers:not(:last-child) {
  margin-bottom: 1.25rem
}
.footer__bottom {
  border-top: .09375rem solid #ddd;
  padding-block: 1.4375rem 1.625rem
}
.footer__info {
  font-size: .9375rem;
  line-height: 1.7;
  display: flex;
  align-items: center;
  justify-content: center
}
.spollers__title {
  color: #000;
  line-height: 1.5;
  font-weight: 700;
  font-size: 1.375rem
}
.spollers__adress {
  font-style: normal
}
.list__item {
  line-height: 2
}
.list__link {
  transition: color .3s
}
.form-footer {
  max-width: 16.875rem;
  position: relative
}
.form-footer__input {
  border-radius: .625rem;
  background: #fff;
  padding-block: .75rem;
  padding-left: 1.1875rem;
  line-height: 2;
  font-size: .8125rem
}
.form-footer__input::-webkit-input-placeholder {
  color: #aaa
}
.form-footer__input:-ms-input-placeholder {
  color: #aaa
}
.form-footer__input::-ms-input-placeholder {
  color: #aaa
}
.form-footer__input::placeholder {
  color: #aaa
}
.form-footer__button {
  max-width: 2.5rem;
  aspect-ratio: 40/40;
  position: absolute;
  right: .3125rem;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%)
}
.form-footer__button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  will-change: transform;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.hero {
  overflow: hidden
}
.hero__content {
  flex: 0 0 100%;
  display: flex
}
.hero__container {
  display: flex;
  align-items: center
}
.hero__title:not(:last-child) {
  margin-bottom: .9375rem
}
.hero__text {
  line-height: 1.5
}
.hero__social {
  flex-shrink: 0
}
.hero__image img {
  max-width: 100%
}
.contacts {
  padding-top: 1.25rem
}
.contacts__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center
}
.item-contacts {
  flex-basis: 45%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  will-change: transform
}
.item-contacts__icon {
  will-change: transform;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  aspect-ratio: 40/40;
  max-width: 2.5rem
}
.item-contacts__icon:not(:last-child) {
  margin-bottom: 1rem
}
.item-contacts__label {
  color: #000;
  font-weight: 700;
  line-height: 1.1875
}
.item-contacts__label:not(:last-child) {
  margin-bottom: .375rem
}
.item-contacts__sublabel {
  font-size: .8125rem;
  line-height: 1.23
}
.about__content {
  padding-inline: .9375rem
}
.about__image {
  max-width: 64.9375rem;
  position: relative;
  aspect-ratio: 1039/694
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0
}
.services__section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}
.services__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(17.5rem,100%),1fr));
  gap: 1.875rem
}
.item-services {
  border-radius: 3.75rem 0;
  border: .125rem solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color .3s,box-shadow .3s
}
.item-services__icon {
  aspect-ratio: 80/80;
  width: 5rem
}
.item-services__title {
  color: #000;
  font-weight: 700;
  line-height: 1.23
}
.item-services__text {
  line-height: 1.6
}
.produkt__section-header {
  display: flex;
  flex-direction: column;
  align-items: center
}
.produkt__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(17.5rem,100%),1fr));
  gap: 1.875rem
}
.produkt__actions {
  text-align: center
}
.item-produkt {
  border-radius: 3.125rem 0 3.125rem 0;
  background: #fff;
  box-shadow: 0 .25rem 1.25rem 0 rgba(0,0,0,.07);
  overflow: hidden;
  will-change: transform;
  transition: box-shadow .3s
}
.item-produkt__image {
  overflow: hidden;
  aspect-ratio: 370/274
}
.item-produkt__image img {
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s,-webkit-transform .4s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-produkt__columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.25rem;
  padding-top: .875rem
}
.item-produkt__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
.item-produkt__button {
  color: #fff;
  font-size: .6875rem;
  font-weight: 700;
  line-height: 1.18;
  border-radius: 3.125rem;
  background-color: #f16214;
  padding: .875rem 1.1875rem;
  transition: background-color .3s,color .3s
}
.item-produkt__right {
  color: #000;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-end
}
.item-produkt__rating {
  display: flex;
  align-items: center;
  -webkit-column-gap: .3125rem;
  -moz-column-gap: .3125rem;
  column-gap: .3125rem
}
.item-produkt__icon {
  aspect-ratio: 14.72/14;
  width: .92rem;
  height: .875rem
}
.item-produkt__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-produkt__value {
  font-size: .6875rem;
  line-height: 1.18
}
.item-produkt__price {
  font-size: 1.25rem;
  line-height: 1.2
}
.mobile__container {
  position: relative
}
.mobile__container::before {
  content: "";
  background: url(../img/mobile/mobile-bg.webp) 0 0/100% no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1
}
.mobile__content {
  flex: 0 0 45%
}
.mobile__title {
  color: #fff;
  font-weight: 700;
  line-height: 1.225
}
.mobile__actions {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.mobile__image {
  flex: 0 0 55%;
  height: 25rem
}
.button-mobile {
  flex-basis: 47.16%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .8125rem;
  transition: box-shadow .3s;
  flex-shrink: 0
}
.button-mobile__icon {
  aspect-ratio: 37/40;
  width: 2.3125rem
}
.button-mobile__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.button-mobile__body {
  color: #000
}
.button-mobile__label {
  font-size: .6875rem;
  line-height: 1.18
}
.button-mobile__title {
  font-weight: 700;
  line-height: 1.22
}
.image-mobile {
  position: relative
}
.image-mobile__left {
  aspect-ratio: 277/600;
  width: 21.875rem;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: -45%;
  left: 0
}
.image-mobile__right {
  aspect-ratio: 277/600;
  width: 21.875rem;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: -30%;
  right: -3%
}
.testimonials__section-header {
  display: flex;
  flex-direction: column;
  align-items: center
}
.testimonials__section-header:not(:last-child) {
  margin-bottom: 1.5rem
}
.testimonials__content {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem
}
.testimonials__slider {
  flex: 0 0 50%
}
.testimonials__actions {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  justify-content: center
}
.testimonials .swiper-button-disabled {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: .625rem;
  border: .09375rem solid #eee;
  background-color: #fff;
  background: url(../img/icons/arrow-orange.svg) center/1.405625rem no-repeat
}
.testimonials__swiper-button-prev {
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: .625rem;
  border: .09375rem solid #eee;
  background: url(../img/icons/arrow-white.svg) center/1.405625rem no-repeat;
  background-color: #f16214;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: background .5s
}
.testimonials__swiper-button-next {
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: .625rem;
  border: .09375rem solid #eee;
  background: url(../img/icons/arrow-white.svg) center/1.405625rem no-repeat;
  background-color: #f16214;
  transition: background .5s
}
.testimonials__image {
  flex: 0 0 50%;
  aspect-ratio: 569/483;
  width: 48.632479%
}
.testimonials__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.slide-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center
}
.slide-testimonials__header {
  display: flex;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.slide-testimonials__icon {
  aspect-ratio: 80/80;
  max-width: 5rem;
  border-radius: 50%;
  overflow: hidden
}
.slide-testimonials__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.slide-testimonials__body {
  display: flex;
  flex-direction: column;
  row-gap: .1875rem
}
.slide-testimonials__name {
  color: #000;
  font-weight: 700;
  line-height: 1.1875
}
.slide-testimonials__position {
  font-size: .8125rem;
  line-height: 1.23
}
.slide-testimonials__text {
  text-align: center
}
.subscribe__content {
  flex-basis: 43.076923%
}
.subscribe__title {
  color: #000;
  font-weight: 700;
  line-height: 1.225
}
.subscribe__title:not(:last-child) {
  margin-bottom: .9375rem
}
.subscribe__text {
  line-height: 1.5
}
.subscribe__form {
  width: 31.25rem;
  position: relative
}
.subscribe__input {
  border-radius: .8125rem;
  background-color: #fff;
  padding-block: 1.25rem;
  padding-left: 1.1875rem
}
.subscribe__input::-webkit-input-placeholder {
  color: #ccc;
  font-size: .8125rem;
  line-height: 1.5
}
.subscribe__input:-ms-input-placeholder {
  color: #ccc;
  font-size: .8125rem;
  line-height: 1.5
}
.subscribe__input::-ms-input-placeholder {
  color: #ccc;
  font-size: .8125rem;
  line-height: 1.5
}
.subscribe__input::placeholder {
  color: #ccc;
  font-size: .8125rem;
  line-height: 1.5
}
.subscribe__button {
  border-radius: .8125rem;
  background-color: #f16214;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding: .8125rem 1.375rem;
  position: absolute;
  right: .3125rem;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  transition: background .4s,color .4s
}
.subscribe__image {
  aspect-ratio: 1/1;
  flex-basis: 39.316239%
}
.subscribe__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:56.25em) {
  .subscribe__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    gap: 1.25rem;
    position: relative
  }
  .subscribe__container::before {
    content: "";
    background: url(../img/subscribe/image-bg.webp) center/100% no-repeat;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
  }
  .subscribe__title {
    color: #fff
  }
}
@media (min-width:72.8125em) {
  .mobile__container {
    display: flex;
    align-items: center;
    position: relative
  }
  .mobile__title {
    max-width: 20.0625rem
  }
}
@media (min-width:48em) {
  .hero {
    display: flex
  }
  .hero__body {
    width: 50%;
    padding-right: 1.25rem
  }
  .hero__title {
    max-width: 30.5rem
  }
  .hero__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0;
    object-position: 0;
    position: absolute;
    top: 0;
    left: 0
  }
  .hero__image {
    position: relative;
    flex: 0 0 50%;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
    padding: 0 0 39.1% 0
  }
  .contacts__items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.25rem;
    border-radius: 3.75rem 0;
    box-shadow: 0 1.375rem 3.25rem 0 rgba(0,0,0,.07)
  }
  .item-contacts {
    padding-block: 3.75rem
  }
  .item-contacts:not(:last-child)::after {
    content: "";
    width: .09375rem;
    height: 6.0625rem;
    background-color: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%)
  }
  .about {
    display: grid;
    min-width: 0;
    grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem;
    grid-template-columns: repeat(2,.5fr);
    align-items: center
  }
  .about>* {
    min-width: 0;
    grid-column: 1/4
  }
  .about__content {
    max-width: 35.625rem;
    grid-column: span 1;
    order: 2
  }
  .about__image {
    grid-column: span 1;
    order: 1
  }
}
@media (min-width:48em)and (min-width:75em) {
  .hero__body {
    padding-top: 13.5rem
  }
  .hero__body {
    padding-bottom: 6.875rem
  }
  .hero__button:not(:last-child) {
    margin-bottom: 2.5rem
  }
}
@media (min-width:48em)and (min-width:120em) {
  .about__content {
    padding-top: 9.875rem
  }
  .about__content {
    padding-bottom: 9.875rem
  }
}
@media (min-width:75em) {
  .section-header__title {
    font-size: 2.5rem
  }
  .section-header__title:not(:last-child) {
    margin-bottom: 2.8125rem
  }
  .section-header__text:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .header {
    padding-top: 1.875rem
  }
  .header__body {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .menu__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .footer__body {
    gap: 1.875rem
  }
  .footer__body {
    padding-top: 6.625rem
  }
  .footer__body {
    padding-bottom: 4.1875rem
  }
  .spollers__title:not(:last-child) {
    margin-bottom: 2.25rem
  }
  .hero__body {
    padding-top: 6.875rem
  }
  .hero__title {
    font-size: 4.6875rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .contacts__items {
    gap: 1.25rem
  }
  .about__content {
    padding-top: 2.5rem
  }
  .services {
    padding-block: 6.25rem
  }
  .services__section-header:not(:last-child) {
    margin-bottom: 3.6875rem
  }
  .item-services {
    padding-block: 4.25rem
  }
  .item-services {
    padding-inline: 1.75rem
  }
  .item-services__icon:not(:last-child) {
    margin-bottom: 2.75rem
  }
  .item-services__title {
    font-size: 1.625rem
  }
  .item-services__title:not(:last-child) {
    margin-bottom: 1.375rem
  }
  .produkt {
    padding-block: 6.25rem
  }
  .produkt__section-header:not(:last-child) {
    margin-bottom: 3.4375rem
  }
  .produkt__galery:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .item-produkt__columns {
    padding-bottom: 3.125rem
  }
  .item-produkt__left {
    row-gap: 1.1875rem
  }
  .item-produkt__title {
    font-size: 1.25rem
  }
  .item-produkt__right {
    row-gap: 1rem
  }
  .mobile__title {
    font-size: 2.5rem
  }
  .mobile__title:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .button-mobile {
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem
  }
  .button-mobile {
    padding-block: 1.25rem
  }
  .button-mobile {
    padding-inline: 1.25rem
  }
  .button-mobile__title {
    font-size: 1.25rem
  }
  .testimonials {
    padding-block: 5.625rem
  }
  .testimonials__wrapper:not(:last-child) {
    margin-bottom: 2.125rem
  }
  .slide-testimonials {
    row-gap: 3.125rem
  }
  .subscribe {
    padding-block: 3.125rem
  }
  .subscribe__content {
    padding-block: 3.125rem
  }
  .subscribe__section-header:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .subscribe__title {
    font-size: 2.5rem
  }
}
@media (min-width:120em) {
  .header__container {
    -webkit-column-gap: 10.0625rem;
    -moz-column-gap: 10.0625rem;
    column-gap: 10.0625rem
  }
  .mobile {
    padding-block: 9.375rem
  }
  .mobile__content {
    padding-top: 5.375rem
  }
  .mobile__content {
    padding-bottom: 5.375rem
  }
  .mobile__content {
    padding-left: 1.875rem
  }
  .mobile__content {
    padding-right: 1.875rem
  }
}
@media (max-width:20em) {
  .section-header__title {
    font-size: 1.25rem
  }
  .section-header__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .section-header__text:not(:last-child) {
    margin-bottom: .9375rem
  }
  .header {
    padding-top: .9375rem
  }
  .header__body {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .footer__body {
    gap: 1.25rem
  }
  .footer__body {
    padding-top: 1.5625rem
  }
  .footer__body {
    padding-bottom: .9375rem
  }
  .spollers__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .hero__body {
    padding-top: 5rem
  }
  .hero__title {
    font-size: 2rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .contacts__items {
    gap: .625rem
  }
  .about__content {
    padding-top: 1.5625rem
  }
  .services {
    padding-block: 1.875rem
  }
  .services__section-header:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .item-services {
    padding-block: 1.25rem
  }
  .item-services {
    padding-inline: .75rem
  }
  .item-services__icon:not(:last-child) {
    margin-bottom: .9375rem
  }
  .item-services__title {
    font-size: 1.25rem
  }
  .item-services__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .produkt {
    padding-block: 1.875rem
  }
  .produkt__section-header:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .produkt__galery:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .item-produkt__columns {
    padding-bottom: 1.25rem
  }
  .item-produkt__left {
    row-gap: .625rem
  }
  .item-produkt__title {
    font-size: 1.125rem
  }
  .item-produkt__right {
    row-gap: .5rem
  }
  .mobile__title {
    font-size: 1.25rem
  }
  .mobile__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .button-mobile {
    -webkit-column-gap: .5625rem;
    -moz-column-gap: .5625rem;
    column-gap: .5625rem
  }
  .button-mobile {
    padding-block: .625rem
  }
  .button-mobile {
    padding-inline: .625rem
  }
  .button-mobile__title {
    font-size: 1.125rem
  }
  .testimonials {
    padding-block: 1.875rem
  }
  .testimonials__wrapper:not(:last-child) {
    margin-bottom: .9375rem
  }
  .slide-testimonials {
    row-gap: 1.25rem
  }
  .subscribe {
    padding-block: 1.875rem
  }
  .subscribe__content {
    padding-block: 1.25rem
  }
  .subscribe__section-header:not(:last-child) {
    margin-bottom: .9375rem
  }
  .subscribe__title {
    font-size: 1.25rem
  }
}
@media (max-width:74.99875em) {
  .footer__content {
    flex-basis: 100%;
    align-items: center;
    justify-content: center
  }
  .footer__social {
    justify-content: center
  }
  .footer__menu {
    flex-basis: 100%;
    justify-content: space-around
  }
}
@media (max-width:74.99875em)and (max-width:20em) {
  .footer__content {
    row-gap: .625rem
  }
}
@media (max-width:72.81125em) {
  .mobile__content {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .button-mobile {
    flex-basis: 50%
  }
  .image-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
  .image-mobile__left {
    width: 21.367521%;
    top: -25%;
    left: 0
  }
  .image-mobile__right {
    width: 21.367521%;
    top: -25%;
    right: -2%
  }
}
@media (max-width:65.43625em) {
  .subscribe__container {
    justify-content: space-between
  }
  .subscribe__content {
    flex-grow: 1
  }
}
@media (max-width:56.24875em) {
  .subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  .subscribe__form {
    border: .0625rem solid #000;
    border-radius: .8125rem
  }
}
@media (max-width:51.24875em) {
  .mobile__content {
    align-items: stretch
  }
  .mobile__title {
    text-align: center
  }
  .mobile__image {
    display: none
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 4.6875rem .9375rem 1.875rem .9375rem;
    background-color: #fff;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .1875rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .09375rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .09375rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    justify-content: space-between
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.5625rem;
    font-size: 1.75rem
  }
  .actions {
    display: flex;
    align-items: center;
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .footer__spollers {
    flex-basis: 100%
  }
  .footer__wrapper {
    flex-basis: 100%;
    max-width: 100%
  }
  .footer__form {
    min-width: 16.875rem
  }
  .footer__bottom {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    justify-content: space-between;
    flex-wrap: wrap
  }
  .hero__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .hero__button {
    width: 50%;
    text-align: center
  }
  .contacts__container {
    padding-bottom: 1.25rem
  }
  .item-contacts {
    border-radius: 3.75rem 0;
    box-shadow: 0 1.375rem 3.25rem 0 rgba(0,0,0,.07)
  }
  .about__section-header {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .about__section-header .section-header__button {
    width: 50%;
    text-align: center
  }
  .produkt__button {
    width: 50%
  }
  .testimonials__content {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .testimonials__slider {
    width: 100%
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em)and (max-width:20em) {
  .hero__content:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .item-contacts {
    padding-block: 1.25rem
  }
  .mobile {
    padding-block: 1.875rem
  }
}
@media (max-width:38.49875em) {
  .footer__bottom {
    flex-direction: column-reverse;
    text-align: center
  }
}
@media (max-width:33.12375em) {
  .subscribe__form {
    width: 100%
  }
}
@media (max-width:29.99875em) {
  .hero__actions {
    flex-direction: column
  }
  .hero__button {
    width: 100%
  }
  .hero__button:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .contacts__items {
    flex-direction: column
  }
  .item-contacts {
    width: 100%
  }
  .about__section-header .section-header__label {
    align-self: flex-start
  }
  .about__section-header .section-header__button {
    width: 100%
  }
  .services__section-header {
    align-items: flex-start;
    text-align: left
  }
  .produkt__section-header {
    align-items: flex-start
  }
  .produkt__button {
    width: 100%
  }
  .mobile__container::before {
    display: none
  }
  .mobile__title {
    color: #000;
    text-align: left
  }
  .mobile__actions {
    flex-wrap: wrap;
    row-gap: .9375rem
  }
  .button-mobile {
    border: .0625rem solid #000;
    flex-basis: 100%
  }
}
@media (max-width:23.12375em) {
  .logo {
    max-width: 8.75rem
  }
}
@media (min-width:20em)and (max-width:75em) {
  .section-header__title {
    font-size: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem)
  }
  .section-header__title:not(:last-child) {
    margin-bottom: clamp(.625rem ,-.1704545455rem + 3.9772727273vw ,2.8125rem)
  }
  .section-header__text:not(:last-child) {
    margin-bottom: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .header {
    padding-top: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .header__body {
    -webkit-column-gap: clamp(.625rem ,.1704545455rem + 2.2727272727vw ,1.875rem);
    -moz-column-gap: clamp(.625rem ,.1704545455rem + 2.2727272727vw ,1.875rem);
    column-gap: clamp(.625rem ,.1704545455rem + 2.2727272727vw ,1.875rem)
  }
  .menu__list {
    -webkit-column-gap: clamp(.625rem ,.1704545455rem + 2.2727272727vw ,1.875rem);
    -moz-column-gap: clamp(.625rem ,.1704545455rem + 2.2727272727vw ,1.875rem);
    column-gap: clamp(.625rem ,.1704545455rem + 2.2727272727vw ,1.875rem)
  }
  .footer__body {
    gap: clamp(1.25rem ,1.0227272727rem + 1.1363636364vw ,1.875rem)
  }
  .footer__body {
    padding-top: clamp(1.5625rem ,-.2784090909rem + 9.2045454545vw ,6.625rem)
  }
  .footer__body {
    padding-bottom: clamp(.9375rem ,-.2443181818rem + 5.9090909091vw ,4.1875rem)
  }
  .spollers__title:not(:last-child) {
    margin-bottom: clamp(.625rem ,.0340909091rem + 2.9545454545vw ,2.25rem)
  }
  .hero__body {
    padding-top: clamp(5rem ,4.3181818182rem + 3.4090909091vw ,6.875rem)
  }
  .hero__title {
    font-size: clamp(2rem ,1.0227272727rem + 4.8863636364vw ,4.6875rem)
  }
  .hero__text:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem)
  }
  .contacts__items {
    gap: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .about__content {
    padding-top: clamp(1.5625rem ,1.2215909091rem + 1.7045454545vw ,2.5rem)
  }
  .services {
    padding-block: clamp(1.875rem ,.2840909091rem + 7.9545454545vw ,6.25rem)
  }
  .services__section-header:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.3636363636rem + 4.4318181818vw ,3.6875rem)
  }
  .item-services {
    padding-block: clamp(1.25rem ,.1590909091rem + 5.4545454545vw ,4.25rem)
  }
  .item-services {
    padding-inline: clamp(.75rem ,.3863636364rem + 1.8181818182vw ,1.75rem)
  }
  .item-services__icon:not(:last-child) {
    margin-bottom: clamp(.9375rem ,.2784090909rem + 3.2954545455vw ,2.75rem)
  }
  .item-services__title {
    font-size: clamp(1.25rem ,1.1136363636rem + .6818181818vw ,1.625rem)
  }
  .item-services__title:not(:last-child) {
    margin-bottom: clamp(.625rem ,.3522727273rem + 1.3636363636vw ,1.375rem)
  }
  .produkt {
    padding-block: clamp(1.875rem ,.2840909091rem + 7.9545454545vw ,6.25rem)
  }
  .produkt__section-header:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.4545454545rem + 3.9772727273vw ,3.4375rem)
  }
  .produkt__galery:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.3409090909rem + 4.5454545455vw ,3.75rem)
  }
  .item-produkt__columns {
    padding-bottom: clamp(1.25rem ,.5681818182rem + 3.4090909091vw ,3.125rem)
  }
  .item-produkt__left {
    row-gap: clamp(.625rem ,.4204545455rem + 1.0227272727vw ,1.1875rem)
  }
  .item-produkt__title {
    font-size: clamp(1.125rem ,1.0795454545rem + .2272727273vw ,1.25rem)
  }
  .item-produkt__right {
    row-gap: clamp(.5rem ,.3181818182rem + .9090909091vw ,1rem)
  }
  .mobile__title {
    font-size: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem)
  }
  .mobile__title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.5681818182rem + 3.4090909091vw ,3.125rem)
  }
  .button-mobile {
    -webkit-column-gap: clamp(.5625rem ,.4943181818rem + .3409090909vw ,.75rem);
    -moz-column-gap: clamp(.5625rem ,.4943181818rem + .3409090909vw ,.75rem);
    column-gap: clamp(.5625rem ,.4943181818rem + .3409090909vw ,.75rem)
  }
  .button-mobile {
    padding-block: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .button-mobile {
    padding-inline: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .button-mobile__title {
    font-size: clamp(1.125rem ,1.0795454545rem + .2272727273vw ,1.25rem)
  }
  .testimonials {
    padding-block: clamp(1.875rem ,.5113636364rem + 6.8181818182vw ,5.625rem)
  }
  .testimonials__wrapper:not(:last-child) {
    margin-bottom: clamp(.9375rem ,.5056818182rem + 2.1590909091vw ,2.125rem)
  }
  .slide-testimonials {
    row-gap: clamp(1.25rem ,.5681818182rem + 3.4090909091vw ,3.125rem)
  }
  .subscribe {
    padding-block: clamp(1.875rem ,1.4204545455rem + 2.2727272727vw ,3.125rem)
  }
  .subscribe__content {
    padding-block: clamp(1.25rem ,.5681818182rem + 3.4090909091vw ,3.125rem)
  }
  .subscribe__section-header:not(:last-child) {
    margin-bottom: clamp(.9375rem ,.5965909091rem + 1.7045454545vw ,1.875rem)
  }
  .subscribe__title {
    font-size: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem)
  }
}
@media (min-width:48em)and (max-width:120em) {
  .header__container {
    -webkit-column-gap: clamp(1.875rem ,-3.5833333333rem + 11.3715277778vw ,10.0625rem);
    -moz-column-gap: clamp(1.875rem ,-3.5833333333rem + 11.3715277778vw ,10.0625rem);
    column-gap: clamp(1.875rem ,-3.5833333333rem + 11.3715277778vw ,10.0625rem)
  }
  .mobile {
    padding-block: clamp(1.875rem ,-3.125rem + 10.4166666667vw ,9.375rem)
  }
}
@media (max-width:74.99875em)and (min-width:75em) {
  .footer__content {
    row-gap: 1.25rem
  }
}
@media (max-width:74.99875em)and (min-width:20em)and (max-width:75em) {
  .footer__content {
    row-gap: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
}
@media (max-width:47.99875em)and (min-width:75em) {
  .hero__content:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .item-contacts {
    padding-block: 3.75rem
  }
  .mobile {
    padding-block: 6.25rem
  }
}
@media (max-width:47.99875em)and (min-width:20em)and (max-width:75em) {
  .hero__content:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem)
  }
  .item-contacts {
    padding-block: clamp(1.25rem ,.3409090909rem + 4.5454545455vw ,3.75rem)
  }
  .mobile {
    padding-block: clamp(1.875rem ,.2840909091rem + 7.9545454545vw ,6.25rem)
  }
}
@media (min-width:48em)and (min-width:20em)and (max-width:75em) {
  .hero__body {
    padding-top: clamp(1.25rem ,-3.2045454545rem + 22.2727272727vw ,13.5rem)
  }
  .hero__body {
    padding-bottom: clamp(1.25rem ,-.7954545455rem + 10.2272727273vw ,6.875rem)
  }
  .hero__button:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem)
  }
}
@media (min-width:48em)and (max-width:20em) {
  .hero__body {
    padding-top: 1.25rem
  }
  .hero__body {
    padding-bottom: 1.25rem
  }
  .hero__button:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (min-width:48em)and (min-width:48em)and (max-width:120em) {
  .about__content {
    padding-top: clamp(1.25rem ,-4.5rem + 11.9791666667vw ,9.875rem)
  }
  .about__content {
    padding-bottom: clamp(1.25rem ,-4.5rem + 11.9791666667vw ,9.875rem)
  }
}
@media (min-width:30em)and (max-width:120em) {
  .mobile__content {
    padding-top: clamp(1.25rem ,-.125rem + 4.5833333333vw ,5.375rem)
  }
  .mobile__content {
    padding-bottom: clamp(1.25rem ,-.125rem + 4.5833333333vw ,5.375rem)
  }
  .mobile__content {
    padding-left: clamp(.9375rem ,.625rem + 1.0416666667vw ,1.875rem)
  }
  .mobile__content {
    padding-right: clamp(.9375rem ,.625rem + 1.0416666667vw ,1.875rem)
  }
}
@media (any-hover:hover) {
  .social__link--facebook:hover {
    background: url(../img/icons/facebook-hover.svg) 0 0/100% no-repeat
  }
  .social__link--instagram:hover {
    background: url(../img/icons/instagram-hover.svg) 0 0/100% no-repeat
  }
  .social__link--x:hover {
    background: url(../img/icons/twitter-hover.svg) 0 0/100% no-repeat
  }
  .social__link--linkedin:hover {
    background: url(../img/icons/linkedin-hover.svg) 0 0/100% no-repeat
  }
  .section-button:hover {
    background-color: rgba(241,98,20,.25);
    color: #f16214
  }
  .section-button:hover::after {
    background: url(../img/icons/icon-section-button-hover.svg) 0 0/100% no-repeat
  }
  .menu__link:hover {
    color: #f16214
  }
  .actions__link:hover {
    background-color: #fff;
    color: #f16214
  }
  .list__link:hover {
    color: #f16214
  }
  .form-footer__button img:hover {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
  .item-contacts:hover .item-contacts__icon {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .item-contacts:hover .item-contacts__label,
  .item-contacts:hover .item-contacts__sublabel {
    text-decoration: underline
  }
  .item-services:hover {
    background-color: #fff;
    box-shadow: .3125rem .9375rem 2.8125rem 0 rgba(0,0,0,.1)
  }
  .item-produkt:hover {
    box-shadow: 0 .25rem 1.25rem 0 rgba(0,0,0,.5)
  }
  .item-produkt:hover .item-produkt__image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .item-produkt__button:hover {
    background-color: rgba(241,98,20,.25);
    color: #f16214
  }
  .button-mobile:hover {
    box-shadow: 0 0 .625rem .1875rem #fff
  }
  .subscribe__button:hover {
    background-color: rgba(241,98,20,.25);
    color: #f16214
  }
}